body {
    font-family: 'Raleway', sans-serif;
    color: #4c4c4a;
    font-weight: 300;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.text-thin {
    font-weight: 50;
}

.text-muted {
    color: #BCBBBB;
}

.title-large {
    font-size: 30px
}

.title-logo {
    margin-top: 20px;
}

.img-project {
    cursor: pointer
}
